html, body {
	padding: 0;
	margin: 0;
	height: 100%;

}

body{
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
    background-image: url(../iqamages/bgi.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: ;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
}


#topContainer {
	min-height: 100%;
	width: 100%;
}

#navBarContainer {
	background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo {
    margin-bottom: 15px;
}

.logo img {
    width: 32px;
}

.navBar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    color: #a0a0a0;
    text-decoration: none;
}

.navItemLink .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

#mainViewContainer{
    margin-left: 220px;
    width: calc(100% - 220px);
    height: 100%;
    /*background-image: url(../images/bgi.jpg);*/
    background-position: center;
    background-size: cover;
}

#mainContent{
    padding: 0 20px;
}
#mainViewContainer h1{
    text-align: center;

}

.gridViewItem{

display: inline-block;
width: 20%;

margin-right: 10px;
}
.gridViewItem img{
    margin-right: 20px;
    width: 100%;
}

input{
    background-color: black;
}

#gridViewContainer{
    line-height: 40px;

    text-align: center;
}